@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cases where Tailwind would be more inefficent to implement (given my current experience) are below */

/* Breakpoint Section */
@media screen and (min-width: 1536px) {
    .personalImg{
        max-height:550px !important;
    }
    .toolsList{
        font-size:0.8rem !important;
    }
    .ssHolder{
        margin-left:auto !important;
        margin-right:auto !important;
        max-width:1100px !important;
    }
    .skillSlot{
        max-width:200px !important;
        max-height:200px !important;
    }
    .skillsHeader{
        margin-bottom:3% !important;
    }
    .projTitle{
        font-size:0.8vw !important;
    }
    
}
@media screen and (min-width: 1024px) {
    .ssCap{
        font-size:1vw !important;
    }
}
@media screen and (max-width: 767px){
    .section1{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        min-height:700px !important;
    }
    .personalImg{
        margin-left:auto !important;
        margin-right:auto !important;
        margin-bottom:30%;
        height:35vw !important;
        width:35vw !important;
        border-radius:100% !important;
    }
    .persLinks{

    }
    .indvLinks{
        height:120% !important;
    }
    .introText{
        margin-left:auto !important;
        margin-right:auto !important;
        text-align: center;
        width:98% !important;
        font-size:3vw !important;
    }
    .introP{
        font-size:2.5vw !important;
        padding-bottom:50%;
    }
    .section2{
        padding-top:15%;
    }
    .ssHolder{
        max-width:200px !important;
    }
    .sec3{
        padding-top:20%;
        padding-bottom:20%;
    }
    .psContainer{
        height:60vh;
        padding-top:10%;
        max-width:200px !important;
        flex-wrap:wrap !important;
    }
    .projHolder{
        min-width:80px;
    }
    .projTitleHolder{
        min-width:80px;
    }
    .aboutSec{
        height:60vh !important;
        padding-top:20%;
        padding-bottom:20%;
    }
    .aboutBox{
        max-height:125px !important;
    }
}
/* Breakpoint End */

/* Animation Section */
@keyframes slideUp {
    0%{
        transform:translateY(0%);
        opacity:1;
    }
    100%{
        transform:translateY(-20%);
        opacity:0;
    }
}

@keyframes slideDown {
    0%{
        transform:translateY(-20%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}
/* Animation End*/

html {
    overflow-x:hidden;
    background-color: aqua;
}
:root {
    --primary2: #091026;
    --primary1: #0d1a39;
    --primary3: #572886;
    --border1: #89043D;
    --border2: #090e29;
    --circleBorder: #122b6b;
    --exitColor: #9B3AE8;
}
.App{
    overflow-x: hidden;
    background-color: var(--primary2);
}
nav{
    background-color: var(--primary2);
    position:fixed;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index:3;
}
.dfb, .navNum{
    color:var(--border1);
}
.opt{
    transition:all 0.2s ease-in-out;
    border-bottom-color:var(--border1);
    max-height:30px;
    color:rgb(165, 165, 165);
}
.opt:hover{
    transform:scale(1.1);
    border-bottom-style:solid;
    border-bottom-width:0.5px;
    border-bottom-color:var(--border1);
    padding-bottom:4%;
    color:white;
}
.section1{
    height:55vw;
    min-height:350px;
}
.personalImg{
    height:25vw;
    width:30vw;
    max-height:650px;
    margin-left:auto;
    margin-right:15%;
    border-radius:60px;
    transition:all 0.3s ease-in-out;
}
.introText{
    display:flex;
    justify-content:center;
    align-items:left;
    flex-direction:column;
    margin-left:5%;
    margin-top:8%;
    height:16vw;
    width:80%;
    font-size:2.5vw;
    color:rgb(165, 165, 165);
    line-height:1.5;
}
.introP{
    width:95%;
    font-size:1.2vw;
}
.persLinks{
    width:75%;
}
.indvLinks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:18%;
    height:50%;
    max-width:65px;
    min-width:40px;
    max-height:65px;
    border-style:solid;
    border-width:2px;
    border-color:var(--border1);
    border-radius:8px;
    background-color: rgb(15, 15, 15, 0.2);
    transition: all 0.3s ease-in-out;
}
.ilIMG{
    transition:all 0.3s ease-in-out;
}
.indvLinks:hover .ilIMG{
    opacity:0;
}
.il1:hover, .il2:hover, .il3:hover{
    border-color:rgb(205, 31, 101);
}
.il1:hover::after, .il2:hover::after, .il3:hover::after {
    opacity:1;
    border-color:#9c54fa;
    transition:border-color 0.3s ease-in-out;
    animation: slideDown 0.3s ease-in-out;
}
.il1::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:80px;
    min-width:5px;
    max-height:40px;
    font-size:0.8rem;
    content: 'LinkedIn Profile';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.il2::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:66px;
    min-width:12px;
    font-size:0.8rem;
    content: 'GitHub Profile';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.il3::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:100px;
    min-width:20px;
    font-size:0.8rem;
    content: 'Resume';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.section2{
    background-color: var(--primary2);
    padding-bottom:5%;
}
.headNum{
    color:var(--border1);
}
.headAcc{
    align-self: center;
    height:2px;
    width:10%;
    background-color: rgb(20, 35, 76);
}
.ssHolder{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
}
.skillsHeader{
    width:94%;
    max-width:1105px;
    margin-left:auto;
    margin-right:auto;
    padding-top:5%;
    padding-bottom:5%;
}
.skillSlot{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    margin:2%;
    color:White;
    border-radius:15%;
    perspective:1000px;
}
.cardInner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    position:relative;
    transition:transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.cardFront{
    position:absolute;
    backface-visibility: hidden;
}
.cardBack{
    position:absolute;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    text-align:center
}
.skillSlot:hover .cardInner{
    transform:rotateY(180deg);
}
.ssImg{
    width:40%;
    margin:0% auto 8% auto;
}
.imgSpec{
    width:50%;
    margin:0% auto 20% auto;
}
.ssCap{
    @apply font-thin;
    font-size:1.4vw;
}
.sec3{
    width:100%;
}
.psContainer{
    max-width:1000px;
}
.projSec{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex:1 1 0;
    height:50vw;
    padding-top:2%;
    padding-bottom:5%;
    max-height:500px;
    max-width:800px;
}
.projHead{
    display:flex;
    justify-content:center;
    align-items:center;
    width:94%;
    max-width:1105px;
    padding-top:14%;
    padding-bottom:4%;
    margin-right:auto;
    margin-left:auto;
    color:white;
    font-size:2.5vw;
}
.projHolder{
    position:relative;
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-radius:5%;
    background-color: var(--border2);
    transition:all 0.3s ease-in-out;
}
.projHolderUno{
    position:relative;
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-radius:5%;
    background-color: var(--border2);
    transition:all 0.3s ease-in-out;
}
.projHolder:hover .projImg, .projHolderUno:hover .projImg{
    transform:scale(0.9);
}
.projHolder::before, .projHolderUno::before{
    display:flex;
    justify-content:center;
    align-items: center;
    content:"Visit Site";
    position: absolute;
    width:100%;
    height:100%;
    border-radius:8px;
    background-color: rgb(26, 26, 26, 0.6);
    opacity:0;
    z-index:-1;
    color:white;
    pointer-events: none;
    transition:all 0.3s ease-in-out;
}
.projHolder:hover::before, .projHolderUno:hover::before{
    opacity:1;
    z-index:9;
}
.projTitleHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:45%;
    max-height:140px;
    margin-top:15%;
    border-radius:12px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.repoLink{
    position:absolute;
    width:20%;
    right:0%;
    top:8%;
    opacity:0.2;
    transition:all 0.2s ease-in-out;
}
.repoLink:hover {
    opacity:1;
}
.projTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    font-size:1.2vw;
    color:white;
    max-width:150px;
    max-height:150px;
    width:1vw;
}
.pT{
    width:13vw;
    margin-bottom:50%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:50%;
    max-width:200px;
}
.toolsList{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    width:14vw;
    height:20%;
    font-size:0.5rem;
    max-width:150px;
    min-width:80px;
}
.tlSlot{
    width:fit-content;
    margin:2%;
    padding:5%;
    background-color: var(--primary1);
}
.piHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.piHolder2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.projImg{
    height:95%;
    width:95%;
    border-radius:4%;
    transition:all 0.3s ease-in-out;
}
.aboutSec{
    height:65vw;
    padding-top:14%;
    max-height:700px;
    background-color: var(--primary2);
}
.aboutHeader{
    color:rgb(165, 165, 165);
}
.aboutBox{
    width:70%;
    height:46%;
    max-width:200px;
    max-height:300px;
    border-color:var(--border1);
    border-radius:8px;
    border-width:1px;
    transition:all 0.5s ease-in-out !important;
}
.aboutBox:hover {
    background-color: var(--border1);
}
.aboutBox:hover .abName, .aboutBox:hover .abDesc{
    color: var(--primary1);
}
.aboutBox:hover .indvDot{
    background-color: var(--primary1);
}
.abName{
    display:flex;
    align-items:flex-end;
    width:fit-content;
    font-weight:300;
    margin-left:10%;
    transition:all 0.5s ease-in-out !important;
}
.abTopHalf{
    display:flex;
    height:55%;
    color:rgb(165, 165, 165);
}
.abBotHalf{
    display:flex;
    height:45%;
    font-size:1.5vw;
    font-weight:100;
    color:rgb(165, 165, 165);
}
.abDesc{
    width:auto;
    margin-left:10%;
    transition:all 0.5s ease-in-out !important;
}
.dots{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    width:20%;
    padding-top:3%;
    padding-right:3%;
    margin-left:auto;
}
.indvDot{
    width:0.8vw;
    height:0.8vw;
    background-color: #6e1c44;
    border-radius:100%;
    margin-top:10%;
    max-width:8px;
    max-height:8px;
    transition:all 0.5s ease-in-out !important;
}
footer{
    color:#0d2242;
    background-color: var(--primary2);
    padding-bottom:15%;
    max-height:400px;
}
.footExtension{
    display:flex;
    padding-top:15%;
    padding-bottom:4px;
    justify-content:center;
    align-items:center;
    background-color: var(--primary2);
    width:100%;
    height:8vh;
    color:#0d2242;
    font-size:0.7em;
}
.footCredits{
    margin-top:0.8%;
}