@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cases where Tailwind would be more inefficent to implement (given my current experience) are below */
@media screen and (min-width: 1536px) {
    .personalImg{
        max-height:550px !important;
    }
    .toolsList{
        font-size:0.8rem !important;
    }
    .ssHolder{
        margin-left:auto !important;
        margin-right:auto !important;
        max-width:1100px !important;
    }
    .skillSlot{
        max-width:200px !important;
        max-height:200px !important;
    }
    .skillsHeader{
        margin-bottom:3% !important;
    }
    .projTitle{
        font-size:0.8vw !important;
    }
    
}
@media screen and (min-width: 1024px) {
    .ssCap{
        font-size:1vw !important;
    }
}

@keyframes slideUp {
    0%{
        transform:translateY(0%);
        opacity:1;
    }
    100%{
        transform:translateY(-20%);
        opacity:0;
    }
}

@keyframes slideDown {
    0%{
        transform:translateY(-20%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}

:root {
    --primary2: #0c1531;
    --primary1: #101f45;
    --primary3: #572886;
    --border1: #122c6f;
    --border2: #6712AA;
    --circleBorder: #193d96;
    --exitColor: #9B3AE8;
}
.App{
    overflow:hidden;
    background-color: var(--primary1);
    background-image: url("./Images/33.jpg");
    background-size:cover;
}
header{
   
}
.navOpts{
}
.opt{
    transition:all 0.2s ease-in-out;
    border-bottom-color:#2750b9;
}
.opt:hover{
    transform:scale(1.1);
    border-bottom-style:solid;
    border-bottom-width:0.5px;
    border-bottom-color:#2750b9;
    padding-bottom:1%;
    @apply text-sky-600;
}
.section1{
    height:35vw;
    min-height:150px;
}
.personalImg{
    height:30vw;
    max-height:650px;
    margin-left:auto;
    transition:all 0.3s ease-in-out;
}
.introText{
    display:flex;
    justify-content:center;
    align-items:left;
    flex-direction:column;
    margin-left:5%;
    margin-top:15%;
    height:30vw;
    width:80%;
    font-size:2.5vw;
    color:white;
    line-height:1.5;
}
.persLinks{
    transform:translateY(3.4vw);
}
.indvLinks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:15%;
    height:90%;
    max-width:75px;
    max-height:75px;
    border-style:solid;
    border-width:2px;
    border-color:var(--border1);
    background-color: rgb(15, 15, 15, 0.2);
    transition: all 0.3s ease-in-out;
}
.il1:hover, .il2:hover, .il3:hover{
    border-color:rgb(26, 78, 189)
}
.il1:hover::after, .il2:hover::after, .il3:hover::after {
    opacity:1;
    border-color:#9c54fa;
    transition:border-color 0.3s ease-in-out;
    animation: slideDown 0.3s ease-in-out;
}
.il1::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:100px;
    min-width:5px;
    font-size:0.8rem;
    top:100%;
    content: 'LinkedIn Profile';
    position:absolute;
    color:rgb(106, 143, 245);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
}
.il2::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:66px;
    min-width:12px;
    font-size:0.8rem;
    top:100%;
    content: 'GitHub Profile';
    position:absolute;
    color:rgb(106, 143, 245);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
}
.il3::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:100px;
    min-width:20px;
    font-size:0.8rem;
    top:100%;
    content: 'Resume';
    position:absolute;
    color:rgb(106, 143, 245);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
}
.section2{
    background-color: var(--primary2);
    padding-bottom:5%;
}
.ssHolder{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
}
.skillsHeader{
    width:94%;
    max-width:1105px;
    margin-top:4%;
    margin-left:3%;
    margin-right:auto;
    padding-bottom:1%;
}
.skillSlot{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    background-color: var(--primary1);
    margin:2%;
    color:White;
    border-radius:15%;
}
.ssImg{
    width:40%;
    margin:0% auto 8% auto;
}
.imgSpec{
    width:50%;
    margin:0% auto 20% auto;
}
.ssCap{
    @apply font-thin;
    font-size:1.4vw;
}
.sec3{
    padding-bottom:3%;
}
.psContainer{
    max-width:1200px;
}
.projSec{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex:1 1 0;
    height:50vw;
    padding-top:2%;
    padding-bottom:5%;
    max-height:500px;
    max-width:800px;
}
.projHead{
    width:94%;
    padding-top:3%;
    padding-bottom:1%;
    margin-right:auto;
    margin-left:3%;
    color:white;
    font-size:2.5vw;
}
.projHolder{
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-radius:5%;
    background-color: var(--primary2);
    transition:all 0.3s ease-in-out;
}
.projHolderUno{
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-radius:5%;
    background-color: var(--primary2);
    transition:all 0.3s ease-in-out;
}
.projHolder:hover .projImg, .projHolderUno:hover .projImg{
    transform:scale(0.9);
}
.projHolder::before, .projHolderUno::before{
    display:flex;
    justify-content:center;
    align-items: center;
    content:"Visit Site";
    position: absolute;
    width:100%;
    top:1%;
    height:100%;
    border-radius:8px;
    background-color: rgb(26, 26, 26, 0.6);
    opacity:0;
    z-index:-1;
    color:white;
    pointer-events: none;
    transition:all 0.3s ease-in-out;
}
.projHolder:hover::before, .projHolderUno:hover::before{
    opacity:1;
    z-index:9;
}
.projTitleHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:30%;
    margin-top:15%;

}
.projTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    font-size:1.2vw;
    color:white;
    max-width:150px;
    max-height:150px;
    width:1vw;
}
.pT{
    width:13vw;
    margin-bottom:50%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:50%;
    max-width:200px;
}
.toolsList{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    width:14vw;
    height:20%;
    font-size:0.5rem;
    max-width:150px;
    min-width:80px;
}
.tlSlot{
    width:fit-content;
    margin:2%;
    padding:5%;
    background-color: var(--primary1);
}
.piHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.piHolder2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.projImg{
    height:95%;
    width:95%;
    border-radius:4%;
    transition:all 0.3s ease-in-out;
}
.aboutSec{
    height:45vw;
    max-height:600px;
    background-color: var(--primary2);
}
.aboutCircle{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vw;
    width:10vw;
    max-width:170px;
    max-height:170px;
    border-radius:100%;
    border-style:solid;
    border-color: var(--circleBorder);
    border-width:2px;
    background-color: var(--primary1);
    overflow:visible;
}
.aboutHeader{
    position:absolute;
}
.aboutBox{
    width:90%;
    height:25%;
    max-width:300px;
    max-height:120px;
    background-color:var(--primary1);
    border-radius:8px;
}
.abName{
    display:flex;
    align-items:flex-end;
    width:fit-content;
    font-weight:300;
    margin-left:10%;
}
.abTopHalf{
    display:flex;
    height:55%;
}
.abBotHalf{
    display:flex;
    height:45%;
    font-size:1.5vw;
    font-weight:100;
}
.abDesc{
    width:auto;
    margin-left:10%;
}
.dots{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    width:20%;
    padding-top:3%;
    padding-right:3%;
    margin-left:auto;
}
.indvDot{
    width:1vw;
    height:1vw;
    background-color: #1e2586;
    border-radius:100%;
    margin-top:10%;
    max-width:10px;
    max-height:10px;
}
footer{
    color:#122f5a;
    background-color: var(--primary1);
    padding-bottom:6%;
    max-height:400px;
}
.footExtension{
    display:flex;
    padding-top:10%;
    justify-content:center;
    align-items:center;
    background-color: var(--primary1);
    width:100%;
    height:8vh;
    color:#122f5a;
    font-size:0.7em;
}