@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cases where Tailwind would be more inefficent to implement (given my current experience) are below */
@media screen and (min-width: 1536px) {
    .personalImg{
        max-height:550px;
    }
    .toolsList{
        font-size:0.8rem;
    }
    
}
@media screen and (min-width: 1024px) {
    .ssCap{
        font-size:1vw !important;
    }
}

@keyframes slideDown {
    0%{
        transform:translateY(-20%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}

:root {
    --primary1: #343434;
    --primary2: #272727;
    --primary3: #572886;
    --border1: #7E38D7;
    --border2: #6712AA;
    --circleBorder: #8722D7;
    --exitColor: #9B3AE8;
}
.App{
    overflow:hidden;
    background-color: var(--primary1);
}
header{
   
}
.navOpts{
    
}
.opt{
    transition:all 0.2s ease-in-out;
}
.opt:hover{
    transform:scale(1.1);
}
.section1{
    height:35vw;
    min-height:150px;
}
.personalImg{
    height:30vw;
    max-height:350px;
}
.introText{
    display:flex;
    justify-content:center;
    align-items:left;
    flex-direction:column;
    margin-left:5%;
    margin-top:15%;
    height:30vw;
    width:80%;
    color:white;
    line-height:1.5;
}
.persLinks{
    transform:translateY(3.4vw);
}
.indvLinks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:15%;
    height:90%;
    max-width:100px;
    max-height:100px;
    border-style:solid;
    border-width:2px;
    border-color:var(--border1);
    background-color: rgb(15, 15, 15, 0.2);
}
.il1:hover ::after{
    display:flex;
    width:20%;
    justify-content:center;
    text-align:center;
    max-width:68px;
    min-width:5px;
    font-size:0.8rem;
    top:100%;
    content: 'LinkedIn Profile';
    position:absolute;
    color:white;
    overflow:visible;
    font-weight:100;
    opacity:1;
    animation: slideDown 0.5s ease-in-out;

}
.il2:hover ::after{
    display:flex;
    width:20%;
    justify-content:center;
    text-align:center;
    max-width:68px;
    min-width:12px;
    font-size:0.8rem;
    top:100%;
    content: 'GitHub Profile';
    position:absolute;
    color:white;
    overflow:visible;
    font-weight:100;
    opacity:1;
    animation: slideDown 0.5s ease-in-out;
}
.il3:hover ::after{
    display:flex;
    width:20%;
    justify-content:center;
    text-align:center;
    max-width:66px;
    min-width:20px;
    font-size:0.8rem;
    top:100%;
    right:0.2%;
    content: 'Resume';
    position:absolute;
    color:white;
    overflow:visible;
    font-weight:100;
    opacity:1;
    animation: slideDown 0.5s ease-in-out;
}
.section2{
    background-color: var(--primary2);
    padding-bottom:5%;
}
.ssHolder{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
}
.skillsHeader{
    width:92vw;
    max-width:1105px;
    margin-top:4%;
    margin-left:3%;
    margin-right:auto;
}
.skillSlot{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    background-color: var(--primary1);
    margin:2%;
    color:White;
    border-radius:15%;
}
.ssImg{
    width:40%;
    margin:0% auto 8% auto;
}
.imgSpec{
    width:50%;
    margin:0% auto 20% auto;
}
.ssCap{
    @apply font-thin;
    font-size:1.4vw;
}
.psContainer{
    max-width:1200px;
}
.projSec{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex:1 1 0;
    height:50vw;
    padding-bottom:5%;
    max-height:500px;
    max-width:600px;
}
.projHead{
    width:80%;
    padding-top:3%;
    padding-bottom:3%;
    max-width:200px;
    margin-right:auto;
    margin-left:3%;
    color:white;
    font-size:2.5vw;
}
.projHolder{
    width:20vw;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-style:solid;
    border-color: var(--border2);
    border-width:4px;
    border-radius:5%;
    background-color: #381454;
}
.projHolderUno{
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-style:solid;
    border-color: var(--border2);
    border-width:4px; 
    border-radius:5%;
    background-color: #381454;
}
.projTitleHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:30%;
    margin-top:15%;

}
.projTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    font-size:1.2vw;
    color:white;
    max-width:150px;
    max-height:150px;
    width:1vw;
}
.pT{
    width:13vw;
    margin-bottom:50%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:50%;
    max-width:150px;
}
.toolsList{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    width:14vw;
    height:20%;
    font-size:0.5rem;
    max-width:150px;
    min-width:80px;
}
.tlSlot{
    width:fit-content;
    margin:2%;
    padding:5%;
    background-color: #3f3f3f;
}
.piHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.piHolder2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.projImg{
    height:95%;
    width:95%;
    border-radius:4px;
}
.aboutSec{
    height:45vw;
    max-height:600px;
    background-color: var(--primary2);
}
.aboutCircle{
    display:flex;
    justify-content:center;
    align-items:center;
    height:12vw;
    width:12vw;
    max-width:120px;
    max-height:120px;
    border-radius:100%;
    border-style:solid;
    border-color: var(--border2);
    border-width:2px;
    background-color: #313131;
    overflow:visible;
}
.aboutHeader{
    position:absolute;
}
.aboutBox{
    width:90%;
    height:25%;
    max-width:300px;
    max-height:120px;
    background-color:#313131;
}
.abName{
    display:flex;
    align-items:flex-end;
    width:fit-content;
    font-weight:300;
    margin-left:10%;
}
.abTopHalf{
    display:flex;
    height:55%;
}
.abBotHalf{
    display:flex;
    height:45%;
    font-size:1.5vw;
    font-weight:100;
}
.abDesc{
    width:auto;
    margin-left:10%;
}
.dots{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    width:20%;
    padding-top:3%;
    padding-right:3%;
    margin-left:auto;
}
.indvDot{
    width:1vw;
    height:1vw;
    background-color: #8722D7;
    border-radius:100%;
    margin-top:10%;
    max-width:10px;
    max-height:10px;
}
footer{
    color:#4e4e4e;
    background-color: var(--primary1);
    padding-bottom:6%;
    max-height:400px;
}
.footExtension{
    display:flex;
    padding-top:10%;
    justify-content:center;
    align-items:center;
    background-color: var(--primary1);
    width:100%;
    height:8vh;
    color:#4e4e4e;
    font-size:0.8em;
}