@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cases where Tailwind would be more inefficent to implement (given my current experience) are below */

:root {
    --primary1: #343434;
    --primary2: #272727;
    --primary3: #572886;
    --border1: #7E38D7;
    --border2: #6712AA;
    --circleBorder: #8722D7;
    --exitColor: #9B3AE8;
}
.App{
    background-color: var(--primary1);
}
header{
   
}
.navOpts{
    
}
.opt{
    transition:all 0.2s ease-in-out;
}
.opt:hover{
    transform:scale(1.1);
}
.section1{
    height:35vw;
    min-height:150px;
}
.personalImg{
    height:30vw;
    max-height:350px;
}
.introText{
    display:flex;
    justify-content:center;
    align-items:left;
    flex-direction:column;
    margin-left:5%;
    margin-top:15%;
    font-size:2.5vw;
    height:30vw;
    width:80%;
    color:white;
    line-height:1.5;
}
.persLinks{
    transform:translateY(3.4vw);
}
.indvLinks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    height:90%;
    max-width:70px;
    max-height:70px;
    border-style:solid;
    border-width:2px;
    border-color:var(--border1);
    background-color: rgb(15, 15, 15, 0.2);
}
.section2{
    background-color: var(--primary2);
    padding-bottom:5%;
}
.ssHolder{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
}
.skillsHeader{
    width:92vw;
    max-width:1105px;
    margin-top:4%;
    margin-left:auto;
    margin-right:auto;
}
.skillSlot{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    background-color: var(--primary1);
    margin:2%;
    color:White;
    border-radius:15%;
}
.ssImg{
    width:40%;
    margin:0% auto 8% auto;
}
.imgSpec{
    width:50%;
    margin:0% auto 20% auto;
}
.ssCap{
    @apply font-thin;
    font-size:55%;
}
.psContainer{
    max-width:1200px;
}
.projSec{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex:1 1 0;
    height:50vw;
    padding-bottom:5%;
    max-height:500px;
    max-width:300px;
}
.projHead{
    width:80%;
    padding-top:3%;
    padding-bottom:3%;
    max-width:200px;
    margin-right:auto;
    margin-left:3%;
    color:white;
    font-size:2.5vw;
}
.projHolder{
    width:20vw;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-style:solid;
    border-color: var(--border2);
    border-width:4px;
    border-radius:5%;
    background-color: #381454;
}
.projHolderUno{
    width:80%;
    height:55%;
    max-width:200px;
    max-height:250px;
    border-style:solid;
    border-color: var(--border2);
    border-width:4px; 
    border-radius:5%;
    background-color: #381454;
}
.projTitleHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:30%;
    margin-top:15%;

}
.projTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    font-size:1.2vw;
    color:white;
    max-width:150px;
    max-height:150px;
    width:1vw;
}
.pT{
    width:13vw;
    margin-bottom:50%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:50%;
}
.toolsList{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    width:14vw;
    height:20%;
    font-size:0.4rem;
    max-width:150px;
    min-width:80px;
}
.tlSlot{
    width:fit-content;
    margin:2%;
    padding:5%;
    background-color: #3f3f3f;
}
.piHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.piHolder2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.projImg{
    height:95%;
    width:95%;
    border-radius:4px;
}
.aboutSec{
    height:45vw;
    max-height:400px;
    background-color: var(--primary2);
}
footer{
    color:white;
    background-color: #222222;
}