@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS cases where Tailwind would be more inefficent to implement (given my current experience) are below */

/* Breakpoint Section */
@media screen and (min-width: 1536px) {
    .opt{
        max-height:40px !important;
    }
    .personalImg{
        max-height:550px !important;
        max-width:650px !important;
    }
    .introP{
        font-size:1vw !important;
    }
    .indvLinks{
        max-width:100px !important;
        max-height:100px !important;
    }
    .toolsList{
        font-size:0.8rem !important;
    }
    .tlSlot{
        width:100% !important;
    }
    .ssHolder{
        margin-left:auto !important;
        margin-right:auto !important;
        max-width:1100px !important;
    }
    .skillSlot{
        max-width:200px !important;
        max-height:200px !important;
    }
    .skillsHeader{
        margin-bottom:3% !important;
    }
    .ssCap{
        
    }
    .projTitle{
        font-size:0.8vw !important;
    }
    .aboutSec{
        margin-top:15%;
    }
    
}
@media screen and (min-width: 1024px) {
    .ssCap{
        font-size:0.8vw !important;
    }
}
@media screen and (max-width: 632px){
    .section1{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        min-height:700px !important;
    }
    .personalImg{
        margin-left:auto !important;
        margin-right:auto !important;
        margin-bottom:30%;
        height:35vw !important;
        width:35vw !important;
        border-radius:100% !important;
    }
    .persLinks{

    }
    .indvLinks{
        height:120% !important;
    }
    .introText{
        margin-left:auto !important;
        margin-right:auto !important;
        text-align: center;
        width:98% !important;
        font-size:3vw !important;
    }
    .introP{
        font-size:2.5vw !important;
        padding-bottom:50%;
        margin-left:auto;
        margin-right:auto;
    }
    .section2{
        padding-top:0%;
    }
    .ssHolder{
        max-width:200px !important;
    }
    .ssCap{
        font-size:2vw !important;
    }
    .skillFoot{
        font-size:2.5vw;
    }
    .sec3{
        max-height:1500px !important;
        padding-top:0% !important;
    }
    .projSec{
        height:150px !important;
        max-height:1500px !important;
    }
    .psContainer{
        height:800px !important;
        padding-top:10%;
        max-width:150px !important;
        flex-wrap:wrap !important;
    }
    .projHolder{
        max-width:80px !important;
        min-height:180px !important;
    }
    .projHolderUno{
        max-width:60px !important;
        min-height:200px !important;
    }
    .projTitleHolder{
        max-width:60px !important;
        min-height:200px !important;
    }
    .pth1{
        top:-125% !important;
        left:-20% !important;
    }
    .pth3{
        top:-75% !important;
        left:-20% !important;
    }
    .pth2{
        top:-95% !important;
        left:-5% !important;
    }
    .pth4{
        top:-50% !important;
        left:-5% !important;
    }
    .ph1{
        top:28% !important;
        left:20% !important;
    }
    .ph3{
        top:72% !important;
        left:10% !important;
    }
    .ph2{
        top:50% !important;
        right:35% !important;
    }
    .ph4{
        top:96% !important;
        right:35% !important;
    }
    .toolsList{
        font-size:0.5rem !important;
    }
    .tlr1{
        top:-259% !important;
        right:-67% !important;
    }
    .tll1{
        bottom:228% !important;
        right:94% !important;
    }
    .tlr2{
        top:-209% !important;
        right:-67% !important;
    }
    .tll2{
        left:-93% !important;
        top:-183% !important;
    }
    .rlr1{
        left:100% !important;
        top:-392% !important;
    }
    .rlr2{
        left:100% !important;
        top:-342% !important;
    }
    .rll1{
        left:-127% !important;
        top:-361.5% !important;
    }
    .rll2{
        left:-126% !important;
        top:-316% !important;
    }
    .aboutSec{
        height:75vw !important;
        min-height:600px !important;
        max-height:800px !important;
        flex-direction:column !important;
    }
    .aboutBox{
        max-height:125px !important;
        min-height:100px !important;
        min-width:140px;
        margin-left:5%;
        margin-right:5%;
        margin-bottom:5%;
    }
    .abtP{
        width:90vw !important;
    }
    .abtL{
        width:180% !important;
        
    }
    .indvAS{
        flex-direction:row !important;
    }
}
/* Breakpoint End */

/* Animation Section */
@keyframes slideUp {
    0%{
        transform:translateY(0%);
        opacity:1;
    }
    100%{
        transform:translateY(-20%);
        opacity:0;
    }
}

@keyframes slideDown {
    0%{
        transform:translateY(-20%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}

@keyframes abtSlideOut {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes abtSlideIn {
    0%{
        opacity:0;
        transform:translateY(100%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes pulsate {
    0%{
        background-color: var(--border1);
    }
    50%{
        background-color: var(--primary1);
    }
    100%{
        background-color: var(--border1);
    }
}
/* Animation End*/

html {
    overflow-x:hidden;
    background-color: var(--primary2);
}
:root {
    --primary2: #091026;
    --primary1: #0d1a39;
    --primary3: #572886;
    --border1: #89043D;
    --border2: #090e29;
    --circleBorder: #122b6b;
    --exitColor: #9B3AE8;
}
.App{
    overflow-x: hidden;
    background: var(--primary2);
}
nav{
    background-color: var(--primary2);
    position:fixed;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index:3;
}
.dfb, .navNum{
    color:var(--border1);
}
.opt{
    transition:all 0.2s ease-in-out;
    border-bottom-color:var(--border1);
    max-height:30px;
    color:rgb(165, 165, 165);
}
.opt:hover{
    transform:scale(1.1);
    border-bottom-style:solid;
    border-bottom-width:0.5px;
    border-bottom-color:var(--border1);
    padding-bottom:4%;
    color:white;
}
.section1{
    height:55vw;
    min-height:350px;
}
.personalImg{
    height:25vw;
    width:30vw;
    max-height:650px;
    margin-left:auto;
    margin-right:15%;
    border-radius:60px;
    transition:all 0.3s ease-in-out;
}
.introText{
    display:flex;
    justify-content:center;
    align-items:left;
    flex-direction:column;
    margin-left:5%;
    margin-top:8%;
    height:16vw;
    width:80%;
    font-size:2.5vw;
    color:rgb(165, 165, 165);
}
.introP{
    width:95%;
    font-size:1.2vw;
    font-family:'didot';
}
.persLinks{
    width:75%;
}
.indvLinks{
    display:flex;
    justify-content:center;
    align-items:center;
    width:18%;
    height:50%;
    max-width:65px;
    min-width:40px;
    max-height:65px;
    border-style:solid;
    border-width:2px;
    border-color:var(--border1);
    border-radius:8px;
    background-color: rgb(15, 15, 15, 0.2);
    transition: all 0.3s ease-in-out;
}
.ilIMG{
    transition:all 0.3s ease-in-out;
}
.indvLinks:hover .ilIMG{
    opacity:0;
}
.il1:hover, .il2:hover, .il3:hover{
    border-color:rgb(205, 31, 101);
}
.il1:hover::after, .il2:hover::after, .il3:hover::after {
    opacity:1;
    border-color:#9c54fa;
    transition:border-color 0.3s ease-in-out;
    animation: slideDown 0.3s ease-in-out;
}
.il1::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:80px;
    min-width:5px;
    max-height:40px;
    font-size:0.8rem;
    content: 'LinkedIn Profile';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.il2::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:66px;
    min-width:12px;
    font-size:0.8rem;
    content: 'GitHub Profile';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.il3::after{
    display:flex;
    width:14%;
    justify-content:center;
    text-align:center;
    max-width:100px;
    min-width:20px;
    font-size:0.8rem;
    content: 'Resume';
    position:absolute;
    color:rgb(238, 75, 140);
    overflow:visible;
    font-weight:100;
    opacity:0;
    animation: slideUp 0.3s ease-in-out;
    pointer-events: none;
}
.section2{
    background-color: var(--primary2);
    padding-bottom:5%;
}
.headNum{
    color:var(--border1);
}
.headAcc{
    align-self: center;
    height:2px;
    width:10%;
    background-color: rgb(20, 35, 76);
}
.ssHolder{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
}
.skillsHeader{
    width:94%;
    max-width:1105px;
    margin-left:auto;
    margin-right:auto;
    padding-top:5%;
    padding-bottom:5%;
}
.skillSlot{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    margin:2%;
    color:White;
    border-radius:15%;
    perspective:1000px;
}
.cardInner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:17vw;
    height:17vw;
    max-width:150px;
    max-height:150px;
    position:relative;
    transition:transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.cardFront{
    position:absolute;
    backface-visibility: hidden;
}
.cardBack{
    position:absolute;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    text-align:center
}
.skillSlot:hover .cardInner{
    transform:rotateY(180deg);
}
.ssImg{
    width:40%;
    margin:0% auto 8% auto;
}
.imgSpec{
    width:50%;
    margin:0% auto 20% auto;
}
.ssCap{
    @apply font-thin;
    font-size:1.4vw;
    font-family:'didot';
    color:rgb(203, 203, 203)
}
.sec3{
    display:flex;
    width:100%;
    max-height:1650px;
}
.psContainer{
    max-width:300px;
    flex-wrap:wrap;
}
.projSec{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex:1 1 0;
    height:60vw;
    max-height:300px;
    max-width:800px;
    margin-left:auto;
}
.projHead{
    display:flex;
    justify-content:center;
    align-items:center;
    width:94%;
    max-width:1105px;
    min-height:600px;
    padding-top:14%;
    padding-bottom:20%;
    margin-right:auto;
    margin-left:auto;
    color:white;
    font-size:2.5vw;
}
.projHolder{
    position:relative;
    width:90%;
    height:100%;
    max-width:200px;
    max-height:200px;
    min-width:200px;
    min-height:175px;
    border-radius:5%;
    background-color: var(--border2);
    transition:all 0.3s ease-in-out;
}
.projHolderUno{
    position:relative;
    width:90%;
    height:100%;
    max-width:200px;
    max-height:200px;
    min-width:150px;
    min-height:175px;
    border-radius:5%;
    background-color: var(--border2);
    transition:all 0.3s ease-in-out;
}
.ps1, .ps3{
    transform:translateX(-35%);
}
.ps2, .ps4{
    transform:translateX(35%);
}
.projHolder:hover .projImg, .projHolderUno:hover .projImg{
    transform:scale(0.9);
}
.projHolder::before, .projHolderUno::before{
    display:flex;
    justify-content:center;
    align-items: center;
    content:"Visit Site";
    position: absolute;
    width:100%;
    height:100%;
    border-radius:8px;
    background-color: rgb(26, 26, 26, 0.6);
    opacity:0;
    z-index:-1;
    color:white;
    pointer-events: none;
    transition:all 0.3s ease-in-out;
}
.projHolder:hover::before, .projHolderUno:hover::before{
    opacity:1;
    z-index:9;
}
.projTitleHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:20vw;
    height:100%;
    max-width:300px;
    min-width:200px;
    min-height:200px;
    margin-top:15%;
    border-radius:12px;
    background-color: var(--primary2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.pth1{
    position: relative;
    top:-78%;
    left:-45%;
    border-left-color:var(--border1);
    border-left-width:1.5px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.ph1:hover, .ph3:hover{
    transform:translateX(55%) !important;
}
.pth2{
    position: relative;
    top:-78%;
    left:45%;
    border-right-color:var(--border1);
    border-right-width:1.5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.ph2:hover, .ph4:hover{
    transform:translateX(-55%) !important;
}
.pth3{
    position: relative;
    top:-78%;
    left:-45%;
    border-left-color:var(--border1);
    border-left-width:1.5px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.pth4{
    position: relative;
    top:-78%;
    left:45%;
    border-right-color:var(--border1);
    border-right-width:1.5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.repoLink{
    display:flex;
    align-items:center;
    position:relative;
    width:20%;
    min-height:200px;
    opacity:1;
    transition:all 0.2s ease-in-out;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.repoLink:hover{
    
}
.rlr1, .rlr2{
    top:-210.7%;
    left:125%;
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
}
.rll1, .rll2{
    top:-210.7%;
    left:-125%;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
}
.projTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    font-size:1.2vw;
    color:white;
    max-width:150px;
    max-height:150px;
    width:100%;
    height:10%;
    margin:5% auto auto auto;
}
.pT{
    width:13vw;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:2%;
    max-width:150px;
    font-family:'didot';
}
.pT2{
    width:13vw;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--border1);
    padding-bottom:2%;
    max-width:150px;
    font-family:'didot';
}
.toolsList{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    position:relative;
    width:14vw;
    height:100% !important;
    min-height:200px;
    font-size:0.9rem;
    max-width:150px;
    min-width:90px;
    overflow:hidden;
}
.tlr1, .tlr2{
    bottom:144%;
    right:-90%;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:var(--primary1);
    padding-left:15%;
    box-shadow: -24px 0px 30px -30px rgba(53, 72, 177, 0.5) inset;
}
.tll1, .tll2{
    bottom:144%;
    right:90%;
    border-left-style:solid;
    border-left-width:1px;
    border-left-color:var(--primary1);
    padding-right:15%;
    box-shadow: 24px 0px 30px -30px rgba(53, 72, 177, 0.5) inset;
}
.tlSlot{
    display:flex;
    justify-content:right;
    align-items:center;
    width:75%;
    margin-left:auto;
    padding:5%;
    color:rgb(150, 150, 150);
}
.tlsl{
    justify-content:left !important; 
    margin-right:auto !important;
    margin-left:0;
}
.bulletPoint{
    display:flex;
    justify-content:center;
    align-items:center;
    width:0.5vw;
    height:0.5vw;
    max-width:12px;
    max-height:12px;
    min-height:6px;
    min-width:6px;
    background-color: var(--border1);
    transform:rotate(45deg);
    margin-right:10%;
    margin-left:15%;
}
.bpl{
    margin-right:10%;
}
.bpInner{
    background-color: var(--primary2);
    width:70%;
    height:70%;
    max-height:8px;
    max-width:8px;
}
.piHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.piHolder2{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.projImg{
    height:95%;
    width:95%;
    border-radius:4%;
    transition:all 0.3s ease-in-out;
}
.aboutSec{
    height:65vw;
    max-height:700px;
    background-color: var(--primary2);
}
.aboutHeader{
    color:rgb(165, 165, 165);
}
.aboutBox{
    width:70%;
    height:46%;
    max-width:200px;
    max-height:300px;
    border-color:var(--border1);
    border-radius:8px;
    border-width:1px;
    transition:all 0.5s ease-in-out !important;
    overflow:hidden;
    position:relative;
}
.aboutBox::before{
    content:'';
    width:100%;
    height:100%;
    position:fixed;
    background-color: var(--border1);
    opacity:0;
    z-index:-1;
    animation: abtSlideOut 0.5s ease-in-out;
}
.aboutBox:hover::before{
    animation: abtSlideIn 0.5s ease-in-out;
    opacity:1;
}
.aboutBox:hover .abName, .aboutBox:hover .abDesc{
    color: var(--primary1);
}
.aboutBox:hover .indvDot {
    animation: pulsate 2s infinite ease-in-out;
}
.abName{
    display:flex;
    align-items:flex-end;
    width:fit-content;
    font-weight:300;
    margin-left:10%;
    transition:all 0.5s ease-in-out !important;
}
.abTopHalf{
    display:flex;
    height:55%;
    color:rgb(165, 165, 165);
}
.abBotHalf{
    display:flex;
    height:45%;
    font-size:1.5vw;
    font-weight:100;
    color:rgb(165, 165, 165);
}
.abDesc{
    width:auto;
    margin-left:10%;
    transition:all 0.5s ease-in-out !important;
}
.dots{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    width:20%;
    height:20%;
    padding-top:3%;
    padding-right:3%;
    margin-left:auto;
    cursor:pointer;
}
.indvDot{
    width:0.8vw;
    height:0.8vw;
    background-color: #6e1c44;
    border-radius:100%;
    margin-top:10%;
    max-width:8px;
    max-height:8px;
}
footer{
    color:#22395c;
    background-color: var(--primary2);
    padding-bottom:5%;
    max-height:400px;
}
.footExtension{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--primary2);
    width:100%;
    color:#22395c;
    font-size:0.7em;
    margin-top:15%;
}
